@model IEnumerable<QRSPortal2.ModelsDB.QRSActivityLog>

@{
    ViewBag.Title = "Show History";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Publication Date: @ViewData["PublicationDate"]</h5>

                    <a href="#" onclick="history.back();" class="btn btn-secondary"><i class="bi bi-box-arrow-in-left"></i> Back</a>
                    <table class="table table-hover table-striped small dtHistory">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IPAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PublicationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DistributionAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReturnAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                var statusClass = (item.Status == "Closed") ? "bg-danger" : "bg-success";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IPAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublicationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DistributionAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReturnAmount)
                                </td>
                                <td>
                                    <span class="badge @statusClass">@Html.DisplayFor(modelItem => item.Status)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>

                            </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {

        $('.dtHistory').DataTable({
            //order: [[1, 'desc']],
            "lengthChange": false,
            //"bFilter": false,
            pageLength: 30

        });

    });
</script>
