@model IEnumerable<QRSPortal2.Models.DistributionData>

@{
    ViewBag.Title = "Account";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    @*<h5 class="card-title">Account: @ViewData["AccountId"]</h5>*@
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title mb-0">Account: @ViewData["AccountId"]</h5>
                        @*<button type="button" class="btn btn-primary btn-sm">Get Latest</button>*@
                        <button type="button" class="btn btn-success btn-sm" name="getLatest" id="getLatest"><i class="bi bi-box-arrow-in-down"></i></button>
                    </div>
                    <div class="row small mb-3">
                        @*<div class="col-lg-3 col-md-4 label">Delivery Address</div>*@
                        <div class="col-lg-9 col-md-8">@ViewData["Company"]<br>@ViewData["Address"]<br>@ViewData["Retailer"] </div>
                    </div>


                    <table class="table table-hover table-striped small dtDistributions">
                        <thead>
                            <tr>

                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.PublicationDate)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.DistributionAmount)
                                </th>

                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.ReturnAmount)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.ConfirmedAmount)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                var statusClass = (item.Status == "Closed") ? "bg-danger" : "bg-success";
                                var modal = (item.Status == "Closed") ? false : true;
                                <tr>

                                    <td class="text-center">
                                        @if (modal)
                                        {
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#returnDataModal">
                                                @Html.DisplayFor(modelItem => item.PublicationDate)
                                                @Html.HiddenFor(modelItem => item.PublicationDate)

                                            </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.PublicationDate)

                                        }
                                        @Html.HiddenFor(modelItem => item.ReturnAmount)
                                        @Html.HiddenFor(modelItem => item.ConfirmedAmount)

                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DistributionAmount)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ReturnAmount)


                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ConfirmedAmount)
                                    </td>
                                    <td class="text-center">
                                        <span class="badge @statusClass">@Html.DisplayFor(modelItem => item.Status)</span>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("history", "activity", new { id = item.AccountID, pd = item.PublicationDate.ToString("yyyy-MM-dd") })">
                                            <i class="bi bi-clipboard"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right">Avg Returns:</th>
                                <th></th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Delivery Modal -->
@{Html.RenderPartial("_ReturnsModal"); }
<!-- end: Delivery Modal -->


@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/jqueryval")*@
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

}



<script>
    var publicationDate = "";
    var userRole = $('#userRole').val();
    //console.log('userRole: ' + userRole);

    if (userRole === "Retailer") {
        $("[for=confirmAmount]").hide();
        $("#confirmAmount").hide();
    } else {
        // Show user-specific content
        $("#confirmAmount").show();
        $("#confirmAmount").prop("required", true);
        $("#returnAmount").prop("readonly", true);
    }


    function ReloadPage() {
        location.reload();
    }
    var hideColumn = (userRole == "Retailer") ? true : false;
    $(document).ready(function () {
        $('a[data-bs-toggle="modal"]').click(function () {

            $('#historyData').hide();
            //console.log($(this).find(':first-child').val());
            //console.log($(this));
            var returnAmt = $(this).closest('tr').find('input#item_ReturnAmount').val();
            var confirmAmt = $(this).closest('tr').find('input#item_ConfirmedAmount').val();
            //console.log('returnAmt', returnAmt);
            publicationDate = $(this).find(':first-child').val();
            //console.log('pub: '+ publicationDate);
            $('#publicationDate').val(publicationDate);
            $('#pubDateModal').html( $('#publicationDate').val());
            $('#returnAmount').val(returnAmt);
            $('#confirmAmount').val(confirmAmt);

            var parts = publicationDate.split(/[\s/:]/); // Split the date string using whitespace, "/", ":", and ":"
            var day = parseInt(parts[0], 10); // Extract the day (22)
            var month = parseInt(parts[1], 10); // Extract the month (2)
            var year = parseInt(parts[2], 10); // Extract the year (2024)

            // Adjust month index since JavaScript Date object months are zero-based (0-11)
            month -= 1;

            // Create a new Date object with the extracted year, month, and day
            var date = new Date(year, month, day);
            //console.log(publicationDate);
            // Define days and months arrays
            var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            // Extract day, month, and year from the Date object
            var dayOfWeek = days[date.getDay()];
            var dayOfMonth = date.getDate();
            var month = months[date.getMonth()];
            var year = date.getFullYear();

            // Concatenate day, month, and year in the desired format
            var formattedDate = dayOfWeek + ", " + dayOfMonth + "-" + month + "-" + year;
            $('#pubDateModal').html(formattedDate);

        });

        $('#returnForm').submit(function (e) {
            e.preventDefault();

            let formData = $("[name=returnForm]").valid();
            let Url = $("[name=returnForm]").data("request-url");
            if (formData) {
                //Serialize the form datas.   
                var returnsData = $("[name=returnForm] :input").serialize();
                //console.log(returnsData);
                $('#updateBtn').attr('disabled', true);
                $('#updateBtn').html('Loading..');

                $.ajax({
                    type: "POST",
                    url: Url,
                    dataType: 'json',
                    data: returnsData,
                    success: function (result) {
                        console.log(result);

                        swal({
                            title: "Success!",
                            text: "Returns updated!",
                            type: "success",
                            dangerMode: false
                        });

                        setTimeout(
                            ReloadPage
                            , 2500);
                        
                        // Clear the modal fields
                        $('#publicationDate').val('');
                        $('#returnAmount').val('');
                        $('#confirmAmount').val('');
                        $('#confirmReturn').prop('checked', false);
                        // Close the modal
                        $('#returnDataModal').modal('hide');
                    }
                });
            }
        });


        $('.dtDistributions').DataTable({
            lengthChange: false,
            ordering: false,
            pageLength: 30,
            columnDefs: [
                {
                    targets: [3],
                    visible: !hideColumn,
                    //searchable: false
                }
            ],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api(), data;
                // Remove the formatting to get integer data for summation
                let intVal = function (i) {
                    return typeof i === 'string'
                        ? i.replace(/[\$,]/g, '') * 1
                        : typeof i === 'number'
                        ? i
                        : 0;
                };

                // Calculate the average for the specific column (index 3 in this example)
                var avg = api.column(2, { page: 'current' }).data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 ) / api.column(2, { page: 'current' }).data().length;
                // Update the footer
                api.column(2).footer().innerHTML =
                    'Avg. Returns: ' + avg.toFixed(2);
                
            },

        });

        $('[name=getLatest]').click(function () {
            var spinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
            $('[name=getLatest]').html(spinner);
            $('[name=getLatest]').attr('disabled', true);

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("getlatest", "distribution")',
                    dataType: 'json',
                    data: { id: $('#accountId').val() },
                success: function (response) {

                     if (response.success) {
                       console.log(response.success);

                        swal({
                            title: "Success!",
                            text: "Latest information has been pulled!",
                            type: "success",
                            dangerMode: false
                        });

                        setTimeout(
                            ReloadPage
                            , 2500);
                    } else {
                       swal({
                            title: "Error!",
                            text: "Something went wrong| Please try again later!",
                            type: "warning",
                            dangerMode: false
                        });
                    }
                        
                       
                    }
                });

        });

    });
</script>