
@{
    ViewBag.Title = "Retailers";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Agents</h5>


                    <!-- Default Table -->
                    <table class="table table-hover table-striped small dtRetailers">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Distribution ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Company</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Cell</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Retailer", "Home")">0002801</a>
                                </td>
                                <td>1002383</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>FONTANA PHARMACY #2</td>
                                <td>25 MANCHESTER ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 961-3008</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002802</td>
                                <td>1002384</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>MANCHESTER PHARMACY</td>
                                <td>MANDEVILLE PLAZA, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 962-2660</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>

                            </tr>
                            <tr>
                                <td>0002803</td>
                                <td>1002385</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>TEXACO - HEAVEN'S</td>
                                <td>PERTH ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>

                            </tr>
                            <tr>
                                <td>0002804</td>
                                <td>1002386</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>SHOPPERS FAIR - MANDEVILLE</td>
                                <td>WARD TERRACE & CALEDONIA ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>

                            </tr>
                            <tr>
                                <td>0002805</td>
                                <td>1002387</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>SHELL - PHILLIP'S</td>
                                <td>CALEDONIA ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 962-2615</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002806</td>
                                <td>1002388</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>VILLA PHARMACY</td>
                                <td>29 MAIN STREET, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 962-0892</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002807</td>
                                <td>1002389</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>GEORGE BIRD RUBIS - SADEIK ROBINSON</td>
                                <td>CALEDONIA ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 962-2754</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002808</td>
                                <td>1002390</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>BOOKLAND (MANCHESTER)</td>
                                <td>MANCHESTER SHOPPING CENTRE, MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002809</td>
                                <td>1002391</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>FONTANA PHARMACY</td>
                                <td>MANCHESTER SHOPPING CENTRE, MANDEVILLE, MANCHESTER</td>
                                <td>(876) 962-3129</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002810</td>
                                <td>1002392</td>
                                <td>LYNDA KELSY</td>
                                <td>&nbsp;</td>
                                <td>ALCAN</td>
                                <td>MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002811</td>
                                <td>1002393</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>SHOPPERS FAIR - MANDEVILLE</td>
                                <td>WARD TERRACE & CALEDONIA ROAD, MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002812</td>
                                <td>1002394</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>SUPER PLUS FOOD STORE</td>
                                <td>TOTAL GAS STATION, KINGSLAND, MANDEVILLE, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002813</td>
                                <td>1002395</td>
                                <td>LORNA WYLLIE</td>
                                <td>&nbsp;</td>
                                <td>SPAULDING</td>
                                <td>CLARENDON</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002814</td>
                                <td>1002396</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>MID ISLAND PHARMACY</td>
                                <td>SPAULDINGS, CLARENDON</td>
                                <td>(876) 964-0522</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002815</td>
                                <td>1002397</td>
                                <td>ALECIA</td>
                                <td>&nbsp;</td>
                                <td>PETCOM SERVICE STATION - ALECIA'S</td>
                                <td>CHRISTIANA, MANCHESTER</td>
                                <td>(876) 964-2069</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002816</td>
                                <td>1002398</td>
                                <td>LENNOX POWELL</td>
                                <td>&nbsp;</td>
                                <td>APPLE TREE PLAZA</td>
                                <td>CHRISTIANA, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002817</td>
                                <td>1002399</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>CHRISTIANA PHARMACY & BOOK CENTER</td>
                                <td>CHRISTIANA, MANCHESTER</td>
                                <td>(876) 964-2424</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002818</td>
                                <td>1002400</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>PANTRY PRIDE</td>
                                <td>CHRISTIANA, MANCHESTER</td>
                                <td>(876) 964-2332</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                            <tr>
                                <td>0002819</td>
                                <td>1002401</td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>RANDY'S BAR</td>
                                <td>CHRISTIANA, MANCHESTER</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a href="@Url.Action("Retailer", "Home")"><i class="bi bi-box-arrow-up-right"></i> </a></td>
                            </tr>
                        </tbody>
                    </table>



                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {

        $('.dtRetailers').DataTable({
            order: [[0, 'desc']],
            pageLength: 15,
            "lengthChange": false,
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 }, // Account
                { responsivePriority: 2, targets: 2 }, // Name
                { responsivePriority: 2, targets: 4 }, // Company
                { responsivePriority: 3, targets: 8 }  // Action
            ]
        });
    });
</script>

